
body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    margin:0;
    background:#f3f4f6
}
video{
    position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; 
  object-fit: cover;
}

#divTitle{
   position: fixed;
  top: 10px; 
  font-size: 36px;
  color:blue;
  font-family: sans-serif;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid blue; 
  text-transform: uppercase;
}

.calc{
    background:black;
    border-radius:12px;
    box-shadow:0 8px 24px rgba(15,23,42,0.12);
    width:320px;
    padding:18px
}
.display{
    height:50px;
    color:white;
    border-radius:8px;
    padding:8px 12px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    box-sizing:border-box;
}
.expression{
    font-size:15px;
    opacity:0.8;
    white-space:nowrap;
}
.result{
    font-size:25px; 
}
.keys{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    margin-top:12px
}
button{
    height:52px;
    border-radius:8px;
    border: 0;
    font-size:18px;
    cursor:pointer;
     background:rgb(82, 81, 81);
    color: blue;
}

.btn-num{
    color: white;
}

.btn-eq{
    background:blue;
    color:#fff;
}

button:hover{
    background-color: rgb(38, 5, 117);
}
footer{
    position: fixed;
    bottom: 0;
    color: blue;
    
}